:root {
  --color-ifood: #ea1d2c;
  --cor-bg: #fff;
  --cor-text-primary: #3f3e3e;
  --cor-text-secondary: #717171;
  --cor-span: #a6a5a5;
  --cor-feild-input: #f7f7f7;
  --cor-text-input: #595756;
  --cor-feild-input-border: #f2f2f2;
}
