:root {
  --font-lp0: 300 1.8rem/1.3 "Work Sans", system-ui;
  --font-mp0: 400 1.2rem/1.2 "Work Sans", system-ui;
  --font-mp1: 500 1.4rem/1.3 "Work Sans", system-ui;
  --font-mp2: 500 1.8rem/1.3 "Work Sans", system-ui;
  --font-bp1: 600 1.4rem/1.3 "Work Sans", system-ui;
}
